# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?
._*

# Thumbnails
._.DS_Store

# macOS metadata
.Spotlight-V100
.Trashes
VolumeIcon.icns

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcscmblueprint

# User-specific Xcode data
xcuserdata/
*.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
Package.pins

# Swift & Objective-C
*.hmap

# App Archives
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/
Carthage/Checkouts/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage & profiling
*.xccoverage
*.profdata

# Others
*.orig
*.swp
*.lock
